RewriteEngine On

# Redirect everything to index.html except assets and index.html itself
RewriteCond %{REQUEST_URI} !index\.html$
RewriteCond %{REQUEST_URI} !\.(css|js|png|jpg|jpeg|gif|ico|svg|pdf)$ [NC]
RewriteRule ^(.*)$ index.html [R=307,L]
